/* Turn off parallax for tablets and phones */
@media only screen and (max-device-width: 100em) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
    min-height: 25em; } }

body {
  font-family: 'Lato', sans-serif; }

body,
html {
  height: 100%;
  color: #1c577f;
  line-height: 1.8;
  background-color: #d7e9f6; }

h2, h3 {
  text-shadow: 2px 2px 0 #83bde4;
  text-transform: uppercase;
  font-weight: 600 !important; }

#topNavfixed a,
#navToggle a {
  text-transform: uppercase; }

.services,
.values,
.workflow {
  font-size: 2.4rem !important;
  color: #fff !important;
  text-shadow: 0.3rem 0.3rem 0 #000 !important;
  text-transform: uppercase; }

.ul-list {
  font-size: 3rem;
  line-height: 0.6em;
  opacity: 0.8; }

.modal-text {
  color: #000;
  text-shadow: 0.2rem 0.2rem 0 #83bde4 !important; }

.about-section {
  margin-bottom: 4rem !important; }

.logo-small-text {
  top: 4rem !important;
  right: 2rem !important; }

.logo-small-text-2 {
  top: 2rem !important;
  right: 2rem !important; }

.services-text {
  font-size: 1.3rem; }

.grid-text {
  font-size: 1.5rem !important;
  color: #fff !important;
  text-shadow: 0.3rem 0.3rem 0 #444 !important;
  text-transform: uppercase !important; }

.w3-wide {
  letter-spacing: 1.3rem; }

.form-style {
  margin: 0 -16px 8px -16px !important; }

.footer__link {
  text-decoration: none; }

/* PARALLAX EFFECT */
.bgimg-1,
.bgimg-2,
.bgimg-3,
.bgimg-4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bgimg-1 {
  background-image: url(/img/header-1-small.jpg);
  height: 100vh; }

.bgimg-2 {
  background-image: url(/img/header-2-small.jpg);
  height: 80vh; }

.bgimg-3 {
  background-image: url(/img/header-3-small.jpg);
  height: 80vh; }

.bgimg-4 {
  background-image: url(/img/header-4-small.jpg);
  height: 80vh; }

.btn-text, .btn-text:link, .btn-text:visited {
  font-size: 1.4rem;
  color: #2487c9;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2487c9;
  padding: 3px;
  margin-top: 1.5rem;
  transition: all .2s;
  font-weight: 300; }

.btn-text:hover {
  background-color: #2487c9;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.35);
  transform: translateY(-0.2rem);
  border-radius: .2rem; }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
  transform: translateY(0); }

.card {
  perspective: 100rem;
  -moz-perspective: 100rem;
  position: relative;
  height: 30rem;
  margin: 0 10px; }
  .card__side {
    height: 30rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.55); }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: url(/img/provision-2-small.jpg);
        background-size: cover; }
      .card__side--back-2 {
        background-image: url(/img/bonded-store-2-small.jpg);
        background-size: cover; }
      .card__side--back-3 {
        background-image: url(/img/techsupply-2-small.jpg);
        background-size: cover; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 30rem; }
    .card__picture--1 {
      background-image: url(/img/provision-1-small.jpg); }
    .card__picture--2 {
      background-image: url(/img/bonded-store-1-small.jpg); }
    .card__picture--3 {
      background-image: url(/img/techsupply-1-small.jpg); }
  .card__heading {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 6rem;
    right: 1.4rem; }
  .card__heading-span {
    padding: .8rem .8rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(28, 87, 127, 0.75), rgba(36, 135, 201, 0.85)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(28, 87, 127, 0.75), rgba(36, 135, 201, 0.85)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(28, 87, 127, 0.75), rgba(36, 135, 201, 0.85)); }

.w3-hover-opacity {
  cursor: pointer; }
